# Core Libraries
pandas==1.5.3
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2

# Time Series Analysis (for EDA)
statsmodels==0.13.5

# Machine Learning
scikit-learn==1.2.2

# Deep Learning (LSTM)
tensorflow==2.11.0

# Optional (for notebook environment)
jupyter==1.0.0
notebook==6.5.4

# Optional (for saving models/scalers)
joblib==1.2.0

fastapi
uvicorn